*{
    box-sizing: border-box;
}
body{
    background: #111;
}
.gallery{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main{
    background: #111;
}
section{
    background: black;
}